<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Estadísticas de usuario</strong>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <ion-item>
          <ion-label>Localidades</ion-label>
          <ion-select [(ngModel)]="location">
            <ng-container *ngFor="let location of locations ;">
                <ion-option  value="{{ location.id }}">{{ location.name }}</ion-option>
            </ng-container>
          </ion-select>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="getStatistics()">Generar</button>
    </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <b>Usuarios</b>
      </ion-col>
      <ion-col>
       <b>Trabajadores</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>{{ users }}</b>
      </ion-col>
      <ion-col>
       <b>{{ workers }}</b>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <h2 class="text-center">Nuevos Usuarios</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <b>Mes</b>
      </ion-col>
      <ion-col>
       <b>Cantidad</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of newUsers;">
      <ion-col *ngIf="user_rol == '3'">
        {{ user.month }}
      </ion-col>
      <ion-col *ngIf="user_rol == '3'">
        {{ user.count }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <h2 class="text-center">Contrataciones</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <b>Mes</b>
      </ion-col>
      <ion-col>
        <b>Cantidad</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let contract of contracts;">
      <ion-col *ngIf="user_rol == '3'">
        {{ contract.month }}
      </ion-col>
      <ion-col *ngIf="user_rol == '3'">
        {{ contract.count }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <b>Total</b>
      </ion-col>
      <ion-col>
        {{ totalContracts }}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <h2 class="text-center">Contactos</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <b>Mes</b>
      </ion-col>
      <ion-col>
        <b>Cantidad</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let contact of contacts;">
      <ion-col *ngIf="user_rol == '3'">
        {{ contact.month }}
      </ion-col>
      <ion-col *ngIf="user_rol == '3'">
        {{ contact.count }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user_rol == '3'">
      <ion-col>
        <b>Total</b>
      </ion-col>
      <ion-col>
        {{ totalContacts }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
