page-login {

.urgent-notification .toast-message:before {
  content: '\f267';
  color: black;
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
  font-size: 2rem;
}
  
.ion-logo-facebook:before {
   color: white !important ;
} 
  .myview {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg{
  height: 100%;
  width: 100% !important;
}
  h1{
    color:white;
  }
  .button-ios {
      border-radius: 7px !important;
      height: 2.8em;
      font-size: 1.2rem;
      color: #fff;
      background-color: #b0428f;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
  }
  .button-md {
    border-radius: 7px !important;
    height: 2.8em;
    font-size: 1.2rem;
    color: #fff;
    background-color: #b0428f;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}
  span.redes {
     font-size: 12px;
    position: relative;
    left: 0.7rem;
}
/*.item-md{
 width: 100%;
   background-color: rgba(14, 13, 13, 0);
   border: 0px solid black;
}

.item-ios {
  width: 100%;
  background-color: rgba(14, 13, 13, 0);
  border: 0px solid black;
}

.item-ios.item-block .item-inner {
  padding-right: 8px;
  padding-right: 8px;
  border-bottom: none;
}*/

#login input  {
  /*padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
   background-clip: padding-box;
  border: 2px solid #795C9B;
  color: #000;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
  background: rgba(0, 0, 0, 0);
  outline:none;
}

ion-grid.grid {
    padding-top: 6rem;
}
button#showPassword {
   position: relative;
   left: 4px;
   bottom: -10px !important;
   border: 1px solid #b0428f;
   border-radius: 2px !important;
}

.item-bordered{
  background: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid #000;
}

.no-background{
  background: rgba(0, 0, 0, 0);
  border: none;
}

.item-inner-no-border, .item-inner{
  border: none !important;
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
  box-shadow: none;
}

.button-acceder{
  margin-top: 27px;
}

.input-icon{
  font-size: 20px !important;
  margin-bottom: -30px !important;
  margin-right: -10px !important;
}

/*.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}*/
}
