
<ion-header>
  <ion-navbar color="header">
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>
      <strong>TRAYA</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<img src="assets/imgs/bg.png" class="bg">

<ion-content padding class="myview" >
  <ion-grid>
    <ion-row justify-content-center >
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
         <div text-center class="animated fadeInDown">
          <p style="color: #795C9B; font-size: 24px; margin-top: -10px;">¡BIENVENID@!</p>
        </div>

      <!--LOGIN WITH FACEBOOK AND GOOGLE  -->
       <div id="buttons" class="row animated fadeInDown" padding  >
          <!--<div col col-50>
            <button ion-button full (click)="loginFacebook()">
              <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
              <span class="redes">Facebook</span>
            </button>
          </div>-->

          <div col col-50>
            <button ion-button full (click)="loginGoogle()" style="background-color: #876DA1">
              <ion-icon ios="logo-google" md="logo-google"></ion-icon>
              <span class="redes">Google</span>
            </button>
          </div>
        </div>

        <!-- LOGIN WITH APP -->
        <div id="login" padding>
         
            <ion-item class="item-bordered">
              
              <ion-icon class="input-icon" name="mail" item-left> </ion-icon>
              
              <ion-label floating>Correo Electrónico</ion-label>
              <ion-input [(ngModel)]="email" type="text" (focus)="hideEyeButton()"></ion-input>
            </ion-item>

            <ion-item class="item-bordered">
              <ion-icon class="input-icon" name="lock" item-left> </ion-icon>
              <ion-label floating>Contraseña</ion-label>
              <ion-input  [(ngModel)]="password" type="text" type="{{passwordType}}" (focus)="showEyeButton(true)"></ion-input>
              <button id="showPassword"  ion-button clear icon-only  type="button" item-right (click)="showPasswordText()" *ngIf="showEye == true">
                <ion-icon *ngIf="!showPasswordTextBand" name="eye"> </ion-icon>
                <ion-icon *ngIf="showPasswordTextBand" name="eye-off"> </ion-icon>
              </button>
            </ion-item>
           
        </div>

        <ion-item text-center class="no-background item-inner-no-border">
          <p (click)="recoveryPassword()" style="color: #876DA1; font-weight: bolder; font-size: 15px;">Recuperar contraseña</p>
       </ion-item>

        <div padding class="animated fadeInDown button-acceder">
            <button ion-button full (click)="login()" style="background-color: #876DA1">Acceder</button>
        </div>
         
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
