<ion-header>
  <ion-navbar color="header">
    <ion-title>
      <strong>Registrarse</strong>
    </ion-title>
  </ion-navbar>
</ion-header>
<!--<img src="assets/imgs/bg.png" class="bg">-->


<ion-content padding class="myview">
  <ion-grid>
    <ion-row justify-content-center >
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <p style="color: #795C9B; font-size: 24px;">¡BIENVENID@!</p>
        </div>

        <!-- LOGIN WITH APP -->
        <div id="login" padding>
          <ion-item class="no-background">
            <div align="center">
              <img class="profile-image" [src]="image" *ngIf="image">
            </div>

            <div align="right">
            
            <button ion-button (click)="chooseImageSource()" style="margin-right: 30px; margin-top: -40px;"><ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
          </div>
          </ion-item>

          <ion-item class="item-bordered">
              
            <ion-icon class="input-icon" name="contact" item-left> </ion-icon>
            
            <ion-label floating>Nombre</ion-label>
            <ion-input [(ngModel)]="name" type="text" (focus)="hideEyeButton()" id="name"></ion-input>
          </ion-item>

          <ion-item class="item-bordered">
              
            <ion-icon class="input-icon" name="call" item-left> </ion-icon>
            
            <ion-label floating>Teléfono</ion-label>
            <ion-input [(ngModel)]="phone" type="tel" (ionFocus)="phoneFocus()" (keyup)="checkPhoneInput()" id="phone" [maxlength]="maxlength"></ion-input>
          </ion-item>

          <ion-item class="item-bordered">
              
            <ion-icon class="input-icon" name="mail" item-left> </ion-icon>
            
            <ion-label floating>Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="email" type="email" (focus)="hideEyeButton()" id="email"></ion-input>
          </ion-item>

          <ion-item class="item-bordered">
              
            <ion-icon class="input-icon" name="lock" item-left> </ion-icon>
            
            <ion-label floating>Contraseña</ion-label>
            <ion-input [(ngModel)]="password"  type="{{passwordType}}" (focus)="showEyeButtonPass()" id="email"></ion-input>
            <button id="showPassword"  ion-button clear icon-only  item-right (click)="showPasswordText()" *ngIf="showEyePass == true">
              <ion-icon *ngIf="!showPasswordTextBand" name="eye"> </ion-icon>
              <ion-icon *ngIf="showPasswordTextBand" name="eye-off"> </ion-icon>
            </button>
          </ion-item>

          <ion-item class="item-bordered">
              
            <ion-icon class="input-icon" name="lock" item-left> </ion-icon>
            
            <ion-label floating>Repetir Contraseña</ion-label>
            <ion-input [(ngModel)]="passwordRepeat" type="{{passwordTypeRepeat}}" (focus)="showEyeButtonRePass()" id="email" (ionBlur)="validatePassword()"></ion-input>
            <button id="showPassword"  ion-button clear icon-only  type="button" item-right (click)="showPasswordTextRepeat()" *ngIf="showEyeRePass == true">
              <ion-icon *ngIf="!showPasswordTextBandRepeat" name="eye"> </ion-icon>
              <ion-icon *ngIf="showPasswordTextBandRepeat" name="eye-off"> </ion-icon>
            </button>
          </ion-item>


          <!-- <ion-input id="description"[(ngModel)]="description" type="text" placeholder="Descripción"></ion-input> -->

          <ion-item padding class="item-bordered" style="margin-top: -8px;">
            <ion-icon class="input-icon" name="pin" item-left></ion-icon>
            <ion-select [(ngModel)]="location_id" (click)="hideEyeButton()"  placeholder="Localidad:" style="padding: 0; padding-top: 25px; width: 100%;" interface="action-sheet" cancelText="">
                <ion-option *ngFor="let items of localityArray" [value]="items.id">{{items.name}}</ion-option>
            </ion-select>
          </ion-item>


          <ion-item class="item-bordered" >
              
            <ion-icon class="input-icon" name="locate" item-left> </ion-icon>
            
            <ion-label floating>Ingrese su domicilio</ion-label>
            <ion-input [(ngModel)]="domicile" type="text" (ionFocus)="domicileFocus()" (keyup)="checkDomicileInput()"  id="domicile"></ion-input>
          </ion-item>

          <ion-list radio-group class="no-background" [(ngModel)]="rol_id">
            
            <ion-grid style="margin-top: 20px;">
              <!--<ion-icon class="input-icon" name="people" item-left style="margin-left: 14px; position: absolute;"></ion-icon>
              <ion-row>
                <span style="color: #999; font-size: 18px; margin-left: 49px;">
                  Usted es:
                </span>
              </ion-row>-->
              <ion-row>
                <ion-col style="margin-left: 30px;">
                  <ion-item class="no-background">
                    <ion-label>Usuario</ion-label>
                    <ion-radio mode="md" value="1" (click)="hideEyeButton()"></ion-radio>
                  </ion-item>
                  <ion-item class="no-background">
                    <ion-label>Trabajador</ion-label>
                    <ion-radio mode="md" value="2" (click)="hideEyeButton()"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>


          <!-- <ion-item>
            <input type="file" name="file" id="file" class="inputfile" accept="image/*" (change)="convertBase64($event)"/>
            <label for="file">Foto de perfil</label>
          </ion-item> -->

        </div>

        <ion-grid>
          <ion-row>
            
            <ion-col>
                <button ion-button full (click)="addUsers()" style="background-color: #876DA1">Registrarse</button>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
