<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <strong>Gestionar Localidades</strong>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding justify-content-end>
	<ion-list>

	<ion-list>

		<ion-item *ngFor="let items of localityArray ; let i =index">
			<div (click)="viewDetailsLocality(items,i)">
					<h2>{{items.name}}</h2>
					<p> {{items.description}}</p>
			</div>
			<ion-button item-end>
				<button ion-button (click)="deleteLocation(items.id, items.name)">
					<ion-icon name="close"></ion-icon>
				</button>
			</ion-button>
		</ion-item>
	</ion-list>

	<!--<button ion-item *ngFor="let items of localityArray ; let i =index" (click)="viewDetailsLocality(items,i)">
		<ion-card >
			  <ion-card-header>
			    <ion-card-title> {{items.name}} </ion-card-title>
			    <ion-card-subtitle> {{items.created_at}} </ion-card-subtitle>
			  </ion-card-header>

			  <ion-card-content>
			    {{items.description}}
			  </ion-card-content>
			</ion-card>
			</button>-->
	</ion-list>
</ion-content>
