    <ion-header *ngIf="registerComplete != '0'">
      <ion-navbar color="header">
       <button ion-button menuToggle >
     <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>
          <strong>Mi Perfil</strong>
        </ion-title>
        <!--<ion-buttons end *ngIf="rol_id < 3">
          <button ion-button tappable (click)="presentNotifications()">
            <ion-icon name="notifications"></ion-icon>
          </button>
        </ion-buttons>-->
      </ion-navbar>
    </ion-header>



    <ion-content padding>


      <div align="center" *ngIf="rol_id != 3">
        <img class="profile-image" [src]="userimage2" *ngIf="userimage2">
      </div>


      <div align="center" *ngIf="rol_id == 3">
        <img class="profile-image" src="assets/imgs/logo_traya.png">
      </div>

      <div padding>
        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      </div>

      <div align="right" style="margin-top: -70px;">
       <input type="file" id="image-change-app2" style="display:none" accept="image/*" (change)="convertBase6422($event)"/>
       <button id="plus" *ngIf="rol_id != 3"  for="file" ion-button (click)="chooseImageSource()" style="right: 30%;
       font-size: 10px;
       bottom: 0px;">
         <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>
       <!--<button *ngIf="rol_id != 3" id="viewProfilePage" ion-button  (click)="chooseImageSource()" menuClose>
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      </button>-->
     </div>
     <ion-item >
      <span color="dark">
        <h2>MIS DATOS</h2>
        <small>Información</small>
      </span>

    </ion-item>
     <ion-item *ngIf="rol_id < 3">
      <ion-label  floating> <ion-icon name="person"></ion-icon>
        Tipo de Usuario</ion-label>
      <ion-select [(ngModel)]="rol_id"  placeholder="Usted es:">
        <ion-option  value="1" selected>Usuario</ion-option>
        <ion-option  value="2" >Trabajador</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label floating><ion-icon name="text"></ion-icon> Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><ion-icon name="lock"></ion-icon> Contraseña</ion-label> <br>
      <ion-input type="password" [(ngModel)]="password" name="password" placeholder="*********" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating><ion-icon name="call"></ion-icon> Celular</ion-label>
      <ion-input type="phone" [(ngModel)]="phone" name="phone" required></ion-input>
    </ion-item>



    <ion-item>
      <ion-label floating><ion-icon name="pin"></ion-icon> Domicilio</ion-label>
      <ion-input type="text" [(ngModel)]="domicile" name="domicile" required ></ion-input>
    </ion-item>

    <ion-item *ngIf="rol_id < 3">
     <ion-label floating><ion-icon name="compass"></ion-icon> Localidad</ion-label>
     <ion-select [(ngModel)]="location_id"  placeholder="Localidad:">
      <ion-option *ngFor="let items of localityArray" [value]="items.id">{{items.name}}</ion-option>
    </ion-select>
  </ion-item>


  <div padding>
    <button ion-button full (click)="updateProfile()">Guardar</button>
  </div>



</ion-content>
