<!--
  Generated template for the AdminAdsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <strong>Publicidad </strong>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
			<ion-label>Tipo de publicidad:</ion-label>
			<ion-select [(ngModel)]="adType">
				<ion-option value="{{ item.id }}" *ngFor="let item of adTypes">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item>

    <ion-item *ngIf="adType == 1">
      Tamaño de imagen debe ser 379 * 90
    </ion-item>
    <ion-item *ngIf="adType == 2">
      Tamaño de imagen debe ser 379 * 180
    </ion-item>
    <ion-item *ngIf="adType == 3">
      Tamaño de imagen debe ser 379 * 270
    </ion-item>

    <ion-item>
      <input type="file" name="file" id="file" class="inputfile" accept="image/*" (change)="convertBase64($event)"/>
    </ion-item>

    <ion-item *ngIf="showImage">
      <img [src]="file" style="width: 100%; height: 90px" *ngIf="adType == 1">
      <img [src]="file" style="width: 100%; height: 180px" *ngIf="adType == 2">
      <img [src]="file" style="width: 100%; height: 270px" *ngIf="adType == 3">
    </ion-item>

    <ion-item *ngIf="adsCount < 20">
      <button ion-button (click)="uploadAd()">Publicar</button>
    </ion-item>

    <ion-item *ngIf="adsCount == 20">
      Limite de anuncios por localidad alcanzado
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-card ion-item *ngFor="let ad of ads ; let i =index">
          
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              {{ i + 1 }} - {{ ad.ad_type.name }}
            </ion-col>
            <ion-col>
              <ion-icon name="trash" style="float: right;" (click)="showAlert(ad.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <img *ngIf="ad.ad_type_id == 1" [src]="url+'/ads/'+ad.name" style="width: 100%; height: 90px;">
        <img *ngIf="ad.ad_type_id == 2" [src]="url+'/ads/'+ad.name" style="width: 100%; height: 180px;">
        <img *ngIf="ad.ad_type_id == 3" [src]="url+'/ads/'+ad.name" style="width: 100%; height: 270px;">
      </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
