page-contact {
 .myview {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../../assets/imgs/bg.png') fixed center center no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  ;
  }
  h1{
    color:white;
  } h5{
    color:white;
  }
  .bg{
  height: 120vh;
  width: 100% !important;
}
  .button-ios {
      border-radius: 7px !important;
      height: 2.8em;
      font-size: 1.6rem;
      color: #fff;
      background-color: #b0428f;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
  }
  .button-md {
    border-radius: 7px !important;
    height: 2.8em;
    font-size: 1.25rem;
    color: #fff;
    background-color: #b0428f;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}
  ion-select {
    display: flex;
    max-width: 100% !important;
    overflow: hidden;
    width: 100%;
  padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
  background: rgba(14, 13, 13, 0.7);
   background-clip: padding-box;
  border: 1px solid black;
  color: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


  #login input  {
  /*width: 100%;*/
  padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
  /*background: rgba(14, 13, 13, 0.7);*/
   background-clip: padding-box;
  border: 1px solid #795C9B;
  color: #000;
  border-radius: .25rem;
  /*-webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);*/
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


  #login textarea  {
  /*width: 100%;*/
  padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
  /*background: rgba(14, 13, 13, 0.7);*/
   background-clip: padding-box;
  border: 2px solid #795C9B;
  color: #fff;
  border-radius: .25rem !important;
  /*-webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);*/
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  #description input{
    text-transform: capitalize;
  }
  #name input{
    text-transform: capitalize;
  }

  .item-ios {
    width: 100%;
    background-color: rgba(14, 13, 13, 0);
    border: 0px solid black;
}

  .item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: none;
}

 .item-md{
  width: 100%;
    background-color: rgba(14, 13, 13, 0);
    border: 0px solid black;
 }

 .item-md.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: none;
}

.select-ios {
     padding: 5px 8px 5px 16px !important;
}
.select-md {
     padding: 5px 8px 5px 16px !important;
}



}
