<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <div style="display: flex;">
      
      <ion-title>
        <strong style="font-size: 2rem;">Línea de reclamos</strong>
      </ion-title>
    </div>
    
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col col-12>
      <p text-right>
        N° de reclamo {{ number }}
      </p>
    </ion-col>
  </ion-row> 
  
  <div radio-group [(ngModel)]="claimType">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <!--<button ion-button (click)="setClaim('claim')">Reclamo</button>-->
          <ion-label>Reclamo</ion-label>
          <ion-radio mode="md"  value="claim"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <!--<button ion-button (click)="setClaim('sugerence')">Sugerencia</button>-->
          <ion-label>Sugerencia</ion-label>
          <ion-radio mode="md"  value="sugerence"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  
  <ion-row>
    
    
    
    <ion-col col-12 *ngIf="claimType != ''">
      <ion-item class="item-bordered">
              
        <ion-icon class="input-icon" name="list" item-left> </ion-icon>
        
        <ion-label floating *ngIf="claimType == 'claim'">Ingrese su reclamo</ion-label>
        <ion-label floating *ngIf="claimType == 'sugerence'">Ingrese su sugerencia</ion-label>
        <ion-textarea [(ngModel)]="description" rows="5"></ion-textarea>
      </ion-item>

      <ion-label style="margin-left: 70px; font-size: 16px;">
        <ion-icon name="camera"></ion-icon> <span style="color: #999;">Adjunte Imágenes </span> <button style="margin-left: 20px;" ion-button (click)="chooseImageSource()" *ngIf="images.length < 5"><ion-icon style="font-size: 30px;" name="cloud-upload"></ion-icon></button>
      </ion-label>
      
      <ion-row>
        <ion-col col-4 *ngFor="let image of images; let i = index;" (click)="delete(i)">
          <img [src]="image" alt="" style="width: 80%;">
        </ion-col>
      </ion-row>

      <p text-right (click)="sendClaim()">
        <button ion-button>Enviar</button>
      </p>

    </ion-col>

  </ion-row>

</ion-content>
