<ion-header>
  <ion-navbar >
    <ion-buttons start>
      <button ion-button full menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    </ion-buttons>
    <span style="text-transform: uppercase; color: #b0428f; font-size: 14px; line-height: 48px; font-weight: bold;">{{name}}</span>


    <ion-buttons end  *ngIf="usersServices?.length>1" >
      <button id="mt" (click)="showCheckbox()" ion-button [class.hide]="validateMT">
       <ion-icon name="ios-people"></ion-icon>
      </button>

       <button id="mt" (click)="presentPrompt()" ion-button  [class.hide]="!validateMT">
        Enviar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



  <ion-content padding justify-content-end>

    <!--<ion-list (click)="askForDeleteAds('Upper')" *ngIf="showUpperAds == true">
      <p text-center>
          <ion-icon name="close"></ion-icon>
      </p>
    </ion-list>-->
    <ion-list *ngIf="showUpperAds == true" class="custom-list">
      <div ion-item *ngFor="let ad of upperAdArray ; let i =index" style="padding: 0 !important; margin-bottom: 5px;">
          
        <div *ngIf="ad.ad_type_id == 1">
          <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 90px;">
        </div>

        <div *ngIf="ad.ad_type_id == 2">
          <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 180px;">
        </div>

        <div *ngIf="ad.ad_type_id == 3">
          <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 270px;">
        </div>
            
    
      </div>
    </ion-list>


  <ion-list  *ngIf="usersServices != null" style="margin-top: 5px; margin-bottom: 5px;">
  <button ion-item *ngFor="let items of usersServices ; let i =index" class="border-service" >
      <ion-avatar item-start (click)="viewProfile(items,i)">
        <img [src]="items.image" *ngIf="items.image">
      </ion-avatar>
      <ion-grid item-content >
      <ion-row (click)="viewProfile(items,i)">
        <ion-col col col-10 >
          <h2>{{items.name}}</h2>
        </ion-col>
        <ion-col col col-2  [class.hide]="!validateMT">
        <ion-checkbox color="primary" (ionChange)="addCheckbox($event,items.id)" *ngIf="items.id != user_id"></ion-checkbox>

        </ion-col>
      </ion-row>

        <ion-row>
          <ion-col col-8 style="margin-top: -10px;" (click)="viewProfile(items,i)">
            <ionic3-star-rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#b0428f"
          defaultColor = "#d0c5cc"
          readonly="true"
          [rating]="items.averageRatingInt">
      </ionic3-star-rating>
          </ion-col>
          <ion-col col-4 (click)="showContracts(items.completed_services)" *ngIf="items.completed_services > 0">
            {{items.completed_services}}  <ion-icon name="paper"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </button>
  </ion-list>

<ion-list *ngIf="usersServices == null || usersServices =='' " >
      <h4 text-center padding>¡Disculpanos!</h4>

      <div padding>
        <h5 text-center padding>Este servicio aún no tiene trabajadores asociados</h5>
        
      </div>
  </ion-list>

  <!--<ion-list (click)="askForDeleteAds('Lower')" *ngIf="showLowerAds == true">
    <p text-center>
        <ion-icon name="close"></ion-icon>
    </p>
  </ion-list>-->

  <ion-list *ngIf="showLowerAds == true" class="custom-list" style="margin-top: 5px;">
      <button ion-item *ngFor="let ad of lowerAdArray ; let i =index" style="padding: 0 !important;  margin-bottom: 5px;">

            <div *ngIf="ad.ad_type_id == 1">
              <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 90px;">
            </div>
    
            <div *ngIf="ad.ad_type_id == 2">
              <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 180px;">
            </div>
    
            <div *ngIf="ad.ad_type_id == 3">
              <img [src]="url+'/ads/'+ad.name" style="width: 100%; height: 270px;">
            </div>
    
      </button>
    </ion-list>



  </ion-content>
