<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <strong>Usuarios activos</strong>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding justify-content-end>

	<ion-list *ngIf="rol_id == 3">
		<ion-item>
			<ion-label>Localidades</ion-label>
			<ion-select [(ngModel)]="userLocation">
				<ion-option *ngFor="let location of locations ; let i =index" [value]="location.id">{{ location.name }}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<button ion-button (click)="getUsers()">Buscar</button>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item *ngIf="usersCount != null">
			Total: {{ usersCount }}
		</ion-item>
	<button ion-item *ngFor="let items of usersArray; let i =index" (click)="viewDetailsUsers(items, i)">
		<ion-card   >
			  <ion-card-header text-center >
          <ion-avatar id="imgwrap" item-start>
    				<img [src]="items.image+'?v='+items.user.updated_at" *ngIf="items.image" >
    			</ion-avatar>
			    <ion-card-title> {{items.user.name}} </ion-card-title>
			    <p> <small>{{items.user.last_login}}</small> </p> <br>
			    <p> <small>Tipo de usuario: {{items.role_name}}</small> </p>
			  </ion-card-header>


			</ion-card>
			</button>

			<button ion-button (click)="loadMore()" *ngIf="page < totalPages">cargar más</button>
			<button ion-button (click)="loadLess()" *ngIf="page > 1">cargar menos</button>

	</ion-list>
</ion-content>
