page-details-users {
.button-ios {
    border-radius: 7px !important;
    height: 2.8em;
    font-size: 1.6rem;
    color: #fff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}

.button-md {
    border-radius: 7px !important;
    height: 2.8em;
    font-size: 1.2rem;
    color: #fff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}
}
