@font-face {
    font-family: 'Lucila';
    src: url('../assets/fonts/Lucida-Handwriting-Italic.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad';
    src: url('../assets/fonts/MYRIADPRO-REGULAR.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'FugazOne';
    src: url('../assets/fonts/FugazOne-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kingtom';
    src: url('../assets/fonts/Kingtom.ttf');
    font-weight: 200;
    font-style: normal;
}