<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
	</button>

	<span style="text-transform: uppercase; color: #b0428f; font-size: 14px; line-height: 48px; font-weight: bold;">Historial</span>
	
	<button ion-button (click)="confirmAlertDeleteAll()" style="float: right;" *ngIf="hiringsArray.length > 0">
		<ion-icon name="trash"></ion-icon>
	</button>
  </ion-navbar>
</ion-header>
<ion-content padding >
	<div padding>
 	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 </div>
	<ion-list *ngIf="hiringsArray != null && loading == false">
		<button ion-item *ngFor="let items of hiringsArray ; let i =index" (click)="viewDetails(items,i)">
			<ion-card no-margin margin-bottom class="full-width">
				<ion-item tappable  class="border-bottom">
					<!-- if(index==hiringsArray.length) -->
					<ion-avatar item-end>
						<img [src]="items.service_logo" *ngIf="items.service_logo">
					</ion-avatar>
					<div class="mbsc-card-subtitle" *ngIf="user_rol == 2"  >{{items.applicant.name }}</div>
					<div class="mbsc-card-subtitle" *ngIf="user_rol == 1"  >{{items.bidder.name }}</div>


					<ion-avatar item-start>
						<img [src]="items.applicant.image" *ngIf="items.applicant.image && user_rol == 2">
						<img [src]="items.bidder.image" *ngIf="items.bidder.image && user_rol == 1">
					</ion-avatar>
				</ion-item>

				<ion-item class="border-bottom" *ngIf="items.description != null" >
						<span>{{items.description}}</span>
				</ion-item>

				<ion-item>
					<ion-row >
            <ion-col width-50 >
              <div>
                <div class="mbsc-card-subtitle-date">{{items.time_last_history}}<br>{{items.date_last_history}} </div>
              </div>
            </ion-col>
            <ion-col width-50  >
              <div class="mbsc-card-subtitle">
				<ion-badge color="primary" *ngIf="items.status_id ==4 "   [ngClass]="{'statusCalificado': items.status=='Calificado'}"> Calificado </ion-badge>
              	<ion-badge color="primary" *ngIf="items.status_id ==5 "  [ngClass]="{'statusCancelado': items.status=='Cancelado'}">Cancelado</ion-badge>
              </div>
            </ion-col>
          </ion-row>
				</ion-item>
			</ion-card>
		</button>
	</ion-list>

	<ion-list *ngIf="loading == true " padding>
		<h4 text-center>Cargando solicitudes </h4>
	</ion-list>

	<ion-list *ngIf="(hiringsArray == null || hiringsArray =='') && loading == false " padding>
		<h4 text-center>No hay solicitudes canceladas y/o calificadas </h4>
	</ion-list>
</ion-content>
