<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">
    <div id="header" [class.hide]="validateHeaderMain" padding>
        <img src="assets/imgs/logo_traya.png" class="logo2" alt="Traya"/>
        
    </div>
      <ion-grid [class.hide]="!validateHeaderMain">
        <ion-row>
          <ion-col col-12>
              <div class="user-avatar" text-center style="margin-left: 90px;">
                <img [src]="image" *ngIf="image && rol_id != 3" style="height: 85px;width: 85px;">
                <img src="assets/imgs/logo_traya.png" *ngIf="rol_id == 3" style="height: 85px;width: 85px;">
                <!--<button *ngIf="rol_id != 3" id="viewProfilePage" ion-button  (click)="viewProfilePage()" menuClose>
                  <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                </button>-->
                <button *ngIf="rol_id != 3" id="viewProfilePage" ion-button  (click)="chooseImageSource()" menuClose>
                  <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                </button>
                <input type="file" name="file" id="image-change-app" class="inputfile" style="display:none" accept="image/*" (change)="convertBase64($event)"/>
              </div>

          </ion-col>
          <ion-col col-12>
            <h2 ion-text class="no-margin bold text-white" style="margin-top: -20px;text-align: center; margin-bottom: 10px;">
              <!-- {{username | async}} -->
              {{name}}
            </h2>
          </ion-col>
        </ion-row>
        <p style="color: #fff" (click)="showModalLocation()"><ion-icon name="pin" style="margin-right: 10px;"></ion-icon>{{ userLocalityName }}</p>
        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full   menuClose (click)="viewProfilePage()" text-center>
              <ion-icon name="contact"></ion-icon>
              Mi Perfil
            </button>
          </ion-col>
          <ion-col no-padding class="column" style="margin-left: 3px;">
            <button ion-button icon-left small full  menuClose (click)="confirmLogout()">
              <ion-icon name="log-out"></ion-icon>
              Cerrar Sesión
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-grid [class.hide]="validateHeaderMain" style="margin-top: -18px;">
        <p style="color: #fff"><ion-icon name="pin" style="margin-right: 10px;"></ion-icon>{{ userLocalityName }}</p>
        <p style="color: #fff; font-size: 15px;">Para acceder a Traya debes Iniciar Sesión con un usuario registrado, si aún no creaste tu usuario por favor regístrate con tus datos</p>
        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full   menuClose (click)="viewLoginPage()" text-center>
              <ion-icon name="contact"></ion-icon>
              Iniciar sesión
            </button>
          </ion-col>
          <ion-col no-padding class="column" style="margin-left: 3px;">
            <button ion-button icon-left small full  menuClose  (click)="viewRegisterPage()">
              <ion-icon name="log-out"></ion-icon>
              Registrarse
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  

  <ion-content color="primary">

    <ion-list class="user-list" style="margin-top: 4px;">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{menuItem.title}}</span><span class="side-menu-badge" *ngIf="menuItem.badge == 0">Off</span><span class="side-menu-badge" *ngIf="menuItem.badge == 1">On</span>
      </button>

         <!--<button ion-item menuClose class="text-1x"  (click)="viewLoginPage()" [class.hide]="validateHeaderMain" *ngIf="rol_id < 3">
          <ion-icon item-left name="log-in" color="primary"></ion-icon>
          <span ion-text color="primary">Conectarse</span>
        </button>

         <button ion-item menuClose class="text-1x"  (click)="viewRegisterPage()" [class.hide]="validateHeaderMain" *ngIf="rol_id < 3">
          <ion-icon item-left name="contact" color="primary"></ion-icon>
          <span ion-text color="primary">Registrarse</span>
        </button>-->

        <button ion-item menuClose class="text-1x"  (click)="viewAboutTrayaPage()" *ngIf="rol_id < 3">
          <ion-icon item-left name="information-circle" color="primary"></ion-icon>
          <span ion-text color="primary">Acerca de TRAYA</span>
        </button>

        <!--<button ion-item menuClose class="text-1x"  (click)="viewClaims()" *ngIf="rol_id < 3">
          <ion-icon item-left name="information-circle" color="primary"></ion-icon>
          <span ion-text color="primary">Línea de reclamos</span>
        </button>-->

        <button ion-item menuClose class="text-1x"  (click)="viewContactPage()" *ngIf="rol_id < 3">
          <ion-icon item-left name="mail" color="primary"></ion-icon>
          <span ion-text color="primary">Contáctanos</span>
        </button>

        
       
      <ion-item *ngIf = "showClaimButton">
        <button id="share"ion-button menuClose full (click)="viewClaims()"><ion-icon item-left name="information-circle" color="light"></ion-icon> Línea de reclamos</button>
      </ion-item>
      
      <div style="float: right;
      margin-top: 2rem;
      color: #999;
      margin-right: 20px;
      font-size: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 13px;
      -webkit-box-shadow: 4px 8px 23px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 8px 23px -3px rgba(0,0,0,0.5);
box-shadow: 4px 8px 23px -3px rgba(0,0,0,0.5);">
        <ion-icon name="share" (click)="shareApplication()"></ion-icon>
      </div>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
