page-google-location {
    .map{
        width: 100%;
        height: 200px;
        opacity: 1;
    }

    .button-ios {
        border-radius: 7px !important;
        height: 2.8em;
        font-size: 1.4rem;
        background-color: #8E4162;
        color: #fff;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    
    .button-md {
        border-radius: 7px !important;
        height: 2.8em;
        font-size: 1rem;
        color: #fff;
        background-color: #8E4162;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
}
