page-traya {

    .contact-btn{
        margin-left: 10px;
    }

    .count-badge{
        position: absolute;
        z-index: 9;
        right: 10px;
        margin-top: 13px;
    }

}

.toast-container{

    background:black;
}

.toast-md .toast-message{
    color: white;
}