<ion-header>
  <ion-navbar  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <span style="text-transform: uppercase; color: #b0428f; font-size: 14px; line-height: 48px; margin-bottom: -28px; font-weight: bold;" *ngIf="hiringDescription?.length > 40 ">
        
      <small>{{hiringDescription | slice:0:40}}</small>
    
    </span>

    <span *ngIf="hiringDescription?.length <= 40 " style="text-transform: uppercase; color: #b0428f; font-size: 18px; line-height: 48px; font-weight: bold;">
        
        <small>{{hiringDescription | slice:0:40}}</small>
      
    </span>

    <button ion-button (click)="showDescription()"  *ngIf="hiringDescription?.length >= 40 " style="float: right; margin-top: 10px;">
      <ion-icon ios="ios-add-circle" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>


    <div *ngIf="rol_id ==1">
      <ion-grid *ngIf="hide ==0" >
        <!--DATOS DEL APLICANTE  -->
        <ion-row style="border-bottom: none; border-radius: 50%;">
          <ion-col>
            
          </ion-col>
          <ion-col>
              <button ion-button (click)="confirmAlert()" style="float: right; margin-right: -20px; background-color: #bdc3c7">
                  <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col col col-6 >
            <!-- <button ion-button full (click)="presentActionSheet()">
              Llamar
            </button> -->
            <ion-row>
              <ion-col width-50>
                <button ion-button full (click)="callNow()">
                  <ion-icon ios="ios-call" md="md-call"></ion-icon>
                </button>

              </ion-col>
              <ion-col width-50>
                <button id="secondary" ion-button full color="secondary" (click)="sendWhatsapp()">
                  <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col col col-6>
            <ion-item id="pr1">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label color="dark" style="margin-top: 6px;">
                  <h2>
                    {{bidderName}}
                  </h2>
                  <div id="pr2">
                    <span>{{servicesName}}</span>
                    <button ion-button style="margin-top: -10px;"  small (click)="servicesActionSheet()">
                      <ion-icon ios="ios-add" md="md-add"></ion-icon>
                    </button>
                  </div>
              </ion-label>
            </ion-item>
          </ion-col>


        </ion-row>

        <div *ngIf="detailsHirings.history?.length>1">
          <ion-grid [ngClass]="{'my-class': items.id==detailsHirings.status_id}"  *ngFor="let items of detailsHirings.statusesHirings ; let i =index">
            <ion-row  *ngIf="items.id == 2 ">
              <ion-col col col-8  >
                <div padding>
                  <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                    <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                    {{items.name}}
                  </div>
                </div>
              </ion-col>
              <ion-col col col-4 *ngIf="rol_id ==1" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
                <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                  <div  id="create" *ngIf="items.id == items2.status_id && items.id!=detailsHirings.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                    <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
                  </div>

                  <button  ion-button full (click)="acceptHiring()"  *ngIf="items.id == items2.status_id && items.id==detailsHirings.status_id && items2.status_id==2" [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                    Contratar
                  </button>


                  <!-- <button id="cancelar2" ion-button full (click)="confirmAlert()"  *ngIf="items.id == items2.status_id && items.id==detailsHirings.status_id && items2.status_id==2" [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                  <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button> -->
              </div>
            </ion-col>
            <!--<ion-fab bottom right >
            <button ion-fab class="fixed-button"  title="Cancelar" (click)="confirmAlert()">
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
          </ion-fab>-->
            <!-- FIN CONTENEDOR -->
          </ion-row>

          <ion-row  *ngIf="items.id == 3 ">
            <ion-col col col-8  >
              <div padding>
                <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                  <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                  {{items.name}}
                </div>
              </div>
            </ion-col>
            <ion-col col col-4 *ngIf="rol_id ==1" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
              <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                <div  id="create" *ngIf="items.id == items2.status_id && items.id!=detailsHirings.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                   <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
                </div>

                <button  ion-button full (click)="changeHide()" *ngIf="items.id == items2.status_id && items.id==detailsHirings.status_id && items2.status_id==3" [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                  Calificar
                </button>
              </div>
            </ion-col>
            <!-- FIN CONTENEDOR -->
          </ion-row>

          <ion-row *ngIf="items.id == 4 || items.id ==1">
            <ion-col col col-8 >
              <div padding>
                <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                  <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                  {{items.name}}
                </div>

              </div>
            </ion-col>
            <ion-col col col-4 *ngIf="rol_id ==1" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
              <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                <div  id="create" *ngIf="items.id == items2.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                   <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
                </div>
              </div>

              <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                <span   id="delete" *ngIf="items2.status_id ==5 && items.id ==5 ">Eliminado por {{items2.user}}</span>
              </div>
            </ion-col>
          </ion-row>


          <!-- NUEVO -->
            <ion-row *ngIf="items.id ==5 && detailsHirings.status_id ==5">
              <ion-col col col-8  >
                <div padding>
                  <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                    <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                    {{items.name}}
                  </div>

                </div>
              </ion-col>
              <ion-col col col-4 *ngIf="rol_id ==1" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
                <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                  <div  id="create" *ngIf="items.id == items2.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                      <span class="dateTime">{{items2.created_at_time}}</span>
                        <span class="date">{{items2.created_at}}</span>
                  </div>
                </div>

                <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                  <span   id="delete" *ngIf="items2.status_id ==5 && items.id ==5 ">Eliminado por {{items2.user}}</span>
                </div>
              </ion-col>
            </ion-row>

          <!-- NUEVO -->

        </ion-grid>

      </div>

      <ion-grid *ngIf="showMap == true">
        <ion-row>
          <ion-col>
              Mi Ubicación
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>  
            <!--<button ion-button (click)="updateShowMap()">
                Compartir mi ubicación
            </button>-->
            <button ion-button (click)="goToGoogleLocation()">
              Compartir mi ubicación
            </button>
          </ion-col>
          <!--<ion-col>  
            <button ion-button (click)="goToGoogleLocation()">
                Mostrar mi ubicación
            </button>
            
          </ion-col>--> 
          
        </ion-row>
        <ion-row>
          <ion-col>    
            
            <!--<div *ngIf="rol_id == 2">
              <button ion-button *ngIf="showMapApplicant == 1">
                <ion-icon name="pin" style="font-size: 20px;"></ion-icon>
              </button>
            </div>-->
            <div *ngIf="rol_id == 1">
              <!--<button ion-button *ngIf="showMapBidder == 1">
                <ion-icon name="pin" style="font-size: 20px;" (click)="navigateTo(bidderAddress)"></ion-icon>
              </button>-->
              <p *ngIf="showMapBidder == 1">Ubicación del trabajador:</p>
              <!--<div class="map" id="map1" *ngIf="showMapBidder == 1" (click)="navigateTo(bidderAddress)"> </div>-->
              <p>{{ location }}, {{ this.detailsHirings.bidder.address }}</p>
              <div class="map" id="map1" (click)="navigateTo(bidderAddress)"> </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="detailsHirings.history?.length<2">
        <ion-row  [ngClass]="{'my-class': items.id==detailsHirings.status_id}"  *ngFor="let items of detailsHirings.statusesHirings ; let i =index">
          <ion-col col col-8 *ngIf="items.id !=5"  >
            <div padding>
              <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                {{items.name}}
              </div>

            </div>
          </ion-col>

          <ion-col col col-8 *ngIf="items.id ==5 && detailsHirings.status_id ==5" >
            <div padding>
              <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                {{items.name}}
              </div>

            </div>
          </ion-col>


      <!--<ion-fab bottom right>
      <button ion-fab  title="Cancelar" (click)="confirmAlert()" class="fixed-button">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-fab>-->
    </ion-row>
  </div>
</ion-grid>

<div *ngIf="hide ==1">
  <ion-item>
    <ionic3-star-rating  activeIcon = "ios-star" defaultIcon = "ios-star-outline"
    activeColor = "#b0428f" defaultColor = "#d0c5cc" readonly="false" [rating]="0">
  </ionic3-star-rating>
</ion-item>

<ion-row >
  <ion-item padding>
    <ion-label >Opinión</ion-label>
    <ion-textarea id="comment"  [(ngModel)]="comment" (click)="createDescription()" readonly  rows="3" cols="20" placeholder=" Dejá un comentario acerca del trabajo realizado, ¿Te gustó?" maxlength="160"  (ionChange)="countCharacter($event)"></ion-textarea>
  </ion-item>
          <small id="count">Caracteres: {{160 - opinionCount}} </small>

  <button  ion-button full (click)="qualify()">
    Enviar
  </button>
</ion-row>
<!-- FIN CALIFICAR -->
</div>

</div>


<!--FIN DATOS DEL APLICANTE  -->



<!--DATOS DEL TRABAJADOR  -->
<ion-grid *ngIf="rol_id ==2">
    <ion-row style="border-bottom: none; border-radius: 50%;">
        <ion-col>
          
        </ion-col>
        <ion-col>
            <button ion-button (click)="confirmAlert()" style="float: right; margin-right: -20px; background-color: #bdc3c7">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
              </button>
        </ion-col>
      </ion-row>
   <ion-row >
          <ion-col col col-6 >
            <!-- <button ion-button full (click)="presentActionSheet()">
              Llamar
            </button> -->
            <ion-row>
              <ion-col width-50>
                <button ion-button full (click)="callNowApplicant()">
                  <ion-icon ios="ios-call" md="md-call"></ion-icon>
                </button>

              </ion-col>
              <ion-col width-50>
                <button id="secondary" ion-button full color="secondary" (click)="sendWhatsappApplicant()">
                  <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col col-6 style="padding-top: 18px;">
            <div >
              <h5 class="mbsc-card-title mbsc-bold">{{applicantName}}</h5>
            </div>
          </ion-col>
        </ion-row>



<!-- NUEVO VISTA -->
<div *ngIf="detailsHirings.history?.length>1">
        <ion-grid [ngClass]="{'my-class': items.id==detailsHirings.status_id}"  *ngFor="let items of detailsHirings.statusesHirings ; let i =index">
          <ion-row  *ngIf="items.id == 2 ">
            <ion-col col col-8  >
              <div padding>
                <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                  <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                  <!--{{items.name}}-->
                  Estoy disponible
                </div>
              </div>
            </ion-col>
            <ion-col col col-4 *ngIf="rol_id ==2" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
              <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
                <div  id="create" *ngIf="items.id == items2.status_id" [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                   <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
                  </div>
            </div>
          </ion-col>
          <!--<ion-fab bottom right >
          <button ion-fab  title="Cancelar" (click)="confirmAlert()" class="fixed-button">
            <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </button>
        </ion-fab>-->
          <!-- FIN CONTENEDOR -->
        </ion-row>

        <ion-row  *ngIf="items.id == 3 ">
          <ion-col col col-8  >
            <div padding>
              <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                {{items.name}}
              </div>
            </div>
          </ion-col>
          <ion-col col col-4 *ngIf="rol_id ==2" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
            <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">


              <div  id="create" *ngIf="items.id == items2.status_id" [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                 <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
                </div>
            </div>
          </ion-col>
          <!-- FIN CONTENEDOR -->
        </ion-row>

        <ion-row *ngIf="items.id == 4 || items.id ==1 ">
          <ion-col col col-8 >
            <div padding>
              <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                {{items.name}}
              </div>

            </div>
          </ion-col>
          <ion-col col col-4 *ngIf="rol_id ==2" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
            <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
              <div  id="create" *ngIf="items.id == items2.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                 <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
              </div>
            </div>

            <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
              <span   id="delete" *ngIf="items2.status_id ==5 && items.id ==5 ">Eliminado por {{items2.user}}</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="items.id ==5 && detailsHirings.status_id ==5">
          <ion-col col col-8  >
            <div padding>
              <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
                <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
                {{items.name}}
              </div>

            </div>
          </ion-col>
          <ion-col col col-4 *ngIf="rol_id ==2" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
            <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
              <div  id="create" *ngIf="items.id == items2.status_id   " [ngClass]="{'dateActive': items.id==detailsHirings.status_id}">
                 <span class="dateTime">{{items2.created_at_time}}</span>
                    <span class="date">{{items2.created_at}}</span>
              </div>
            </div>

            <div class="mbsc-card-subtitle" *ngFor="let items2 of detailsHirings.history ">
              <span   id="delete" *ngIf="items2.status_id ==5 && items.id ==5 ">Eliminado por {{items2.user}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    

  <!-- EN ESPERA DE OK -->

  <div *ngIf="detailsHirings.history?.length<2">
    <ion-row  [ngClass]="{'my-class': items.id==detailsHirings.status_id}"  *ngFor="let items of detailsHirings.statusesHirings ; let i =index">
      <ion-col col col-8 *ngIf="items.id !=5" >
        <div padding>
          <div class="mbsc-card-subtitle"  [ngClass]="{'mbsc-card-subtitle-active': items.id==detailsHirings.status_id}"  >
            <ion-badge color="primary" [ngClass]="{'badge2': items.id==detailsHirings.status_id}">{{i+1}}</ion-badge>
           
          <label *ngIf="i == 0 && rol_id == 2">¿Podés Hacerlo?</label>
          <label *ngIf="i ==1 && rol_id == 2">Estoy disponible</label>
          <label *ngIf="i !=0 && i!=1 && rol_id==2"> {{items.name}} </label>
          </div>
        </div>
      </ion-col>
      <ion-col col col-4 *ngIf="rol_id ==2" padding [ngClass]="{'my-class2': items.id==detailsHirings.status_id}" >
        <button ion-button full (click)="createHiring()" *ngIf="items.name =='En espera de ok'">
          Aceptar
        </button>
      </ion-col>

      <!--<ion-fab bottom right>
      <button ion-fab  title="Cancelar" (click)="confirmAlert()" class="fixed-button">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
      </ion-fab>-->
    </ion-row>
  </div>

  <ion-grid *ngIf="showMap == true">
    <ion-row>
      <ion-col>
          Mi Ubicación
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="goToGoogleLocation()">
          Compartir mi ubicación
        </button>  
        <!--<button ion-button (click)="updateShowMap()">
            Compartir mi ubicación
        </button>-->
      </ion-col>
      <!--<ion-col>  
          <button ion-button (click)="goToGoogleLocation()">
            Mostra mi ubicación
        </button>
      </ion-col>--> 
    </ion-row>
    <ion-row style="border: none;">
      <ion-col >    
        <div *ngIf="rol_id == 2">
          <p *ngIf="showMapApplicant == 1">Ubicación del usuario:</p>
          <p>{{ location }}, {{ detailsHirings.applicant.address }}</p>
          <!--<button ion-button *ngIf="showMapApplicant == 1" (click)="navigateTo(applicantAddress)">
            <ion-icon name="pin" style="font-size: 20px;"></ion-icon>
          </button>-->
        </div>
        <!--<div *ngIf="rol_id == 1">
          <button ion-button *ngIf="showMapBidder == 1">
            <ion-icon name="pin" style="font-size: 20px;"></ion-icon>
          </button>
        </div>-->
      </ion-col>
    </ion-row>
    <ion-row style="border: none;">
      <ion-col>
        
        <!--<div class="map" id="map2" *ngIf="showMapApplicant == 1" (click)="navigateTo(applicantAddress)">-->
          <div class="map" id="map2" (click)="navigateTo(applicantAddress)"></div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-grid>
<!--FIN DATOS DEL TRABAJADOR  -->
</ion-list>
</ion-content>
