<!--
  Generated template for the AddAdministratorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Habilitar Administrador</strong>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-content padding>
        <div align="center">
          <img class="profile-image" [src]="image" *ngIf="image">
        </div>
  <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="name"  readonly></ion-input>
        </ion-item>
  
              <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input type="text" [(ngModel)]="email"  readonly></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Tipo de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user_rol"  readonly></ion-input>
        </ion-item>
        
        <div id="buttons" class="row" padding >
          <div col col-50 *ngIf="user_rol == 'Usuario' || user_rol == 'Trabajador'">
            <button ion-button full color="primary" (click)="enableAdministrator()">Habilitar como administrador</button>
          </div>
            <div col col-50 *ngIf="user_rol == 'Administrador de localidad'">
              <button ion-button full color="danger" (click)="disableAdministrator()">Deshabilitar administrador</button>
            </div>
        </div>
        
  
</ion-content>
