page-details-locality {
.button-full-md {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 20px;
}
#count {
    margin: 19px !important;
}
}
