page-register-services {
  .myview {
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78));
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg{
  height: 100vh;
}
  h1{
    color:white;
  }
  .button-ios {
      border-radius: 7px !important;
      height: 2.8em;
      font-size: 1.6rem;
      color: #fff;
      background-color: #b0428f;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
  }
  .button-md {
      border-radius: 7px !important;
      height: 2.8em;
      font-size: 1.6rem;
      color: #fff;
      background-color: #b0428f;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
  }


  #registerServices input  {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 2rem;
  line-height: 1.5;
  background: rgba(14, 13, 13, 0.7);
   background-clip: padding-box;
  border: 1px solid black;
  color: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  ion-grid.grid {
    padding-top: 6rem;
  }
  ion-label.label.label-ios.label-ios-light {
    position: relative;
    left: 20px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    background: rgba(14, 13, 13, 0.7);
    background-clip: padding-box;
    border: 1px solid black;
    color: #fff;
    border-radius: .25rem;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #000;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
.item-ios {
    width: 100%;
    background-color: rgba(14, 13, 13, 0);
    border: 0px solid black;
}

.item-md {
    width: 100%;
    background-color: rgba(14, 13, 13, 0);
    border: 0px solid black;
}
.profile-image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}
